<!DOCTYPE html>
<html lang="en">
<%- include("../parts/head") %>

<body>
    <h1>This is title</h1>
    <form action="/" method="POST">
    <input type="text" name="username" >
    <input type="number" name="age" >
    <input type="submit">
</form>

<% if (typeof username !=='undefined'){ %>
    <h1>
        <%=username%>
    </h1>
    <h1>
        <%=age%>
    </h1>
    <%}else{%>
        <h1>add username</h1>
        <%}%>
</body>
</html>
